#includes:
#    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	paths:
		- app
		- otomaties-core.php
	bootstrapFiles:
		- vendor_prefixed/autoload.php
		- phpstan-bootstrap.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
