#$ vendor/bin/phpstan analyze

includes:
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - inc/
    ignoreErrors:
        - '#Parameter \#2 \$callback of function add_filter expects callable\(\): mixed, array{mixed, mixed} given.#'
        - '#Parameter \#2 \$callback of function add_action expects callable\(\): mixed, array{mixed, mixed} given.#'
        - '#Parameter \#2 \$atts of function shortcode_atts expects array, array<string, string>\|string given.#'
    checkGenericClassInNonGenericObjectType: false

# See full example in phpstan-full.neon
